<!DOCTYPE html>
<head>
    <title>Interesting Code</title>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
</head>
<body>
    <h1>Please Work?</h1>
    {% if not loggedIn %}
    <h3>Login</h3>
    <input id="username" type="text" placeholder="Username"/>
    <button id="login">Login</button>
    {% else %}
    {% for user in users %}
        {%if user['username'] == username %}
            <p>Hello {{username}}. You have {{user['points']}} points.</p>
        {% endif %}
    {% endfor %}
    <button id="logout">Logout</button>
    <input id="description" type="text" placeholder="Short Quest Description">
    <input id="value" type="number" placeholder="Quest Value">
    <button id="quest">Add Quest</button>
    {% for quest in quests %}
            <button type="submit" class="addpoints">[{{quest['value']}}] {{ quest['description'] }}</button>
    {% endfor %}
    {% endif %}
</body>